<html>
<head>
    <title>PicFive</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.png"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
    * {
        position: relative;
    }

    .index_1 {
        text-align: center;
    }
    body {
       /* background-image: url("../images/background.jpg"); */
        background-color:white;
    }

    #title {
        font-size: 80px;
        font-style: normal;
        text-align: center;
    }

    .button,
    .upload {
        font-family: sans-serif;
        padding: 3px 8px;
        font-size: 50px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 5px;
        box-shadow: 0 6px #999;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .button:hover, .upload:hover {
        background-color: #3e8e41;
    }

    .button:active,
    .upload:active {
      background-color: #ff0066;
      box-shadow: 0 4px #666;
      transform: translateY(2px);
    }




    upload,
    .upload input {
        height: 132px;
        width: 132px;
        text-align: center;
    }



    .upload{
        border-radius: 132px;
        width: 132px;
        background: transparent url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-camera-128.png") center center no-repeat;

    }

    .upload input {
        opacity: 0;
       }
    input[type=file] {
        padding:5px;
        border:2px solid #ccc;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }


    input[type=submit] {
        padding:5px 15px;
        background:#ccc;
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .select input {
        opacity: 0;
    }


    form.upload2 {
        width: 157px;
        height: 57px;
        background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);
        overflow: hidden;
    }

    form.upload2 [name=select]  {
        display: block !important;
        width: 157px !important;
        height: 57px !important;
        opacity: 0 !important;
        overflow: hidden !important;
    }

    .col {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #navBar {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 0px;

    }

    img,
    .rows,
    .cols,
    .button{
        max-width: 100%;
        max-height: 100%;
    }

    .listFont {
        font-size: 36px;
    }

    #up{
        font-size: 42px;
    }

    .center-text {
        text-align: center;
    }
    .count {
        font-size: 100px;
    }

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
</head>

<body class="index_1">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12 bg-success">


                <h1 id="title"><strong>PicFive!</strong></h1>
            </div>


        </div>

        <div class="row" id="navBar">
          <p>

          </p>
        </div>

        <div class="row">
            <div class="col-xs-12 bg-success">
                <h1 id="up"><strong>Words of the day</strong></h1>
                <ul class="listFont">
                    <li>{{one}}</li>
                    <li>{{two}}</li>
                    <li>{{three}}</li>
                    <li>{{four}}</li>
                    <li>{{five}}</li>
                </ul>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-2 bg-danger">

               <!-- <div class="upload"><input type="file" accept='image/*' capture='camera' onchange="this.form.submit();" ></div> -->

                <form class="upload" action='/img' method='POST' enctype="multipart/form-data">
                    <input type="file" name="imgUp" accept="image/*" onchange="this.form.submit();" >
                </form>

            </div>
            <div class="col-xs-10 bg-danger">
                <h1 class="big"> Upload your pictures here!</h1>

            </div>
        </div>

    </div>



  <section id="content"></section>
</body>
</html>
